[user]
	name = John Ku
	email = john.cmyk@gmail.com
[branch]
	autosetupmerge = true
[gc]
	auto = 1
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
    trim-branches = !git branch --merged master | /bin/grep -v -e " master" | xargs -pI '{}' git branch -d '{}'
    st = status
    tree = log --graph --pretty=oneline --abbrev-commit --decorate

[core]
	editor = vim
[mergetool]
	keepBackup = true
[credential]
	helper = osxkeychain
[push]
	default = simple
[url "git@github.sol:"]
	insteadOf = https://github.sol
